[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = git://github.com/copycat-killer/lain
[submodule ".config/awesome/tyrannical"]
	path = .config/awesome/tyrannical
	url = git://github.com/Elv13/tyrannical
[submodule ".config/awesome/cyclefocus"]
	path = .config/awesome/cyclefocus
	url = git://github.com/blueyed/awesome-cyclefocus
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim
	branch = v0.10.2
[submodule ".bash/virtualenvwrapper"]
	path = .bash/virtualenvwrapper
	url = https://bitbucket.org/dhellmann/virtualenvwrapper.git
[submodule ".bash/bash-completion"]
	path = .bash/bash-completion
	url = git://git.debian.org/git/bash-completion/bash-completion.git
